
/htmlcov/
.idea/
api/__pycache__/
api/migrations/
hotlemon/__pycache__/
templates/
api/models/__pycache__/
.cache/
api/managers/__pycache__/
api/tests/__pycache__/
static/*
!static/.gitkeep
/hotlemon/param.py
