appdirs==1.4.3
colorama==0.3.7
coreapi==2.3.0
coreschema==0.0.4
coverage==4.2
decorator==4.0.11
defusedxml==0.4.1
Django==1.8.4
django-allauth==0.32.0
django-braces==1.10.0
django-oauth-toolkit==0.11.0
django-rest-auth==0.9.1
django-rest-framework-social-oauth2==1.0.5
django-rest-swagger==2.0.7
django-webpack-loader==0.2.4
djangorestframework==3.3.2
itypes==1.1.0
Jinja2==2.9.4
MarkupSafe==0.23
oauthlib==1.1.2
olefile==0.44
openapi-codec==1.3.1
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
py==1.4.31
pyflakes==1.3.0
Pygments==2.1.3
PyJWT==1.4.2
pyparsing==2.2.0
pytest==3.0.5
pytest-cov==2.4.0
pytest-django==3.1.2
python3-openid==3.0.10
requests==2.13.0
requests-oauthlib==0.7.0
simplejson==3.10.0
six==1.10.0
social-auth-app-django==1.0.0
social-auth-core==1.0.1
uritemplate==3.0.0
virtualenv==15.0.3
virtualenvwrapper-win==1.2.1
django-cors-headers-2.1.0

